@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.custom-polygon {
  clip-path: polygon(
    0 0,
    /* top-left */ 100% 0,
    /* top-right */ 100% 85%,
    /* bottom-right */ 80% 100%,
    /* bottom-center (nhọn) */ 0 85% /* bottom-left */
  );
}

.border-gradient {
  border-image-source: linear-gradient(
    180deg,
    #ffffff 7.69%,
    #38d7ff 43.27%,
    #38d7ff 60.58%,
    #ffffff 87.98%
  );
  border-image-slice: 1;
}

.parrent-border-top {
  background: linear-gradient(0deg, #4bb0ff 0%, #ffffff 100%);
  padding: 1px;
  border-radius: 16px;
  animation: rotateGradientTop 4s linear infinite;
}
.parrent-border-bottom {
  background: linear-gradient(0deg, #4bb0ff 0%, #ffffff 100%);
  padding: 1px;
  border-radius: 16px;
  animation: rotateGradientBot 4s linear infinite;
}

@keyframes rotateGradientTop {
  0% {
    background: linear-gradient(0deg, #4bb0ff 0%, #ffffff 100%);
  }
  1% {
    background: linear-gradient(3.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  2% {
    background: linear-gradient(7.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  3% {
    background: linear-gradient(10.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  4% {
    background: linear-gradient(14.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  5% {
    background: linear-gradient(18deg, #4bb0ff 0%, #ffffff 100%);
  }
  6% {
    background: linear-gradient(21.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  7% {
    background: linear-gradient(25.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  8% {
    background: linear-gradient(28.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  9% {
    background: linear-gradient(32.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  10% {
    background: linear-gradient(36deg, #4bb0ff 0%, #ffffff 100%);
  }
  11% {
    background: linear-gradient(39.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  12% {
    background: linear-gradient(43.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  13% {
    background: linear-gradient(46.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  14% {
    background: linear-gradient(50.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  15% {
    background: linear-gradient(54deg, #4bb0ff 0%, #ffffff 100%);
  }
  16% {
    background: linear-gradient(57.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  17% {
    background: linear-gradient(61.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  18% {
    background: linear-gradient(64.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  19% {
    background: linear-gradient(68.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  20% {
    background: linear-gradient(72deg, #4bb0ff 0%, #ffffff 100%);
  }
  21% {
    background: linear-gradient(75.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  22% {
    background: linear-gradient(79.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  23% {
    background: linear-gradient(82.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  24% {
    background: linear-gradient(86.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  25% {
    background: linear-gradient(90deg, #4bb0ff 0%, #ffffff 100%);
  }
  26% {
    background: linear-gradient(93.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  27% {
    background: linear-gradient(97.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  28% {
    background: linear-gradient(100.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  29% {
    background: linear-gradient(104.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  30% {
    background: linear-gradient(108deg, #4bb0ff 0%, #ffffff 100%);
  }
  31% {
    background: linear-gradient(111.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  32% {
    background: linear-gradient(115.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  33% {
    background: linear-gradient(118.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  34% {
    background: linear-gradient(122.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  35% {
    background: linear-gradient(126deg, #4bb0ff 0%, #ffffff 100%);
  }
  36% {
    background: linear-gradient(129.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  37% {
    background: linear-gradient(133.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  38% {
    background: linear-gradient(136.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  39% {
    background: linear-gradient(140.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  40% {
    background: linear-gradient(144deg, #4bb0ff 0%, #ffffff 100%);
  }
  41% {
    background: linear-gradient(147.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  42% {
    background: linear-gradient(151.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  43% {
    background: linear-gradient(154.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  44% {
    background: linear-gradient(158.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  45% {
    background: linear-gradient(162deg, #4bb0ff 0%, #ffffff 100%);
  }
  46% {
    background: linear-gradient(165.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  47% {
    background: linear-gradient(169.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  48% {
    background: linear-gradient(172.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  49% {
    background: linear-gradient(176.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  50% {
    background: linear-gradient(180deg, #4bb0ff 0%, #ffffff 100%);
  }
  51% {
    background: linear-gradient(183.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  52% {
    background: linear-gradient(187.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  53% {
    background: linear-gradient(190.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  54% {
    background: linear-gradient(194.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  55% {
    background: linear-gradient(198deg, #4bb0ff 0%, #ffffff 100%);
  }
  56% {
    background: linear-gradient(201.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  57% {
    background: linear-gradient(205.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  58% {
    background: linear-gradient(208.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  59% {
    background: linear-gradient(212.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  60% {
    background: linear-gradient(216deg, #4bb0ff 0%, #ffffff 100%);
  }
  61% {
    background: linear-gradient(219.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  62% {
    background: linear-gradient(223.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  63% {
    background: linear-gradient(226.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  64% {
    background: linear-gradient(230.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  65% {
    background: linear-gradient(234deg, #4bb0ff 0%, #ffffff 100%);
  }
  66% {
    background: linear-gradient(237.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  67% {
    background: linear-gradient(241.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  68% {
    background: linear-gradient(244.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  69% {
    background: linear-gradient(248.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  70% {
    background: linear-gradient(252deg, #4bb0ff 0%, #ffffff 100%);
  }
  71% {
    background: linear-gradient(255.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  72% {
    background: linear-gradient(259.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  73% {
    background: linear-gradient(262.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  74% {
    background: linear-gradient(266.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  75% {
    background: linear-gradient(270deg, #4bb0ff 0%, #ffffff 100%);
  }
  76% {
    background: linear-gradient(273.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  77% {
    background: linear-gradient(277.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  78% {
    background: linear-gradient(280.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  79% {
    background: linear-gradient(284.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  80% {
    background: linear-gradient(288deg, #4bb0ff 0%, #ffffff 100%);
  }
  81% {
    background: linear-gradient(291.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  82% {
    background: linear-gradient(295.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  83% {
    background: linear-gradient(298.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  84% {
    background: linear-gradient(302.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  85% {
    background: linear-gradient(306deg, #4bb0ff 0%, #ffffff 100%);
  }
  86% {
    background: linear-gradient(309.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  87% {
    background: linear-gradient(313.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  88% {
    background: linear-gradient(316.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  89% {
    background: linear-gradient(320.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  90% {
    background: linear-gradient(324deg, #4bb0ff 0%, #ffffff 100%);
  }
  91% {
    background: linear-gradient(327.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  92% {
    background: linear-gradient(331.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  93% {
    background: linear-gradient(334.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  94% {
    background: linear-gradient(338.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  95% {
    background: linear-gradient(342deg, #4bb0ff 0%, #ffffff 100%);
  }
  96% {
    background: linear-gradient(345.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  97% {
    background: linear-gradient(349.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  98% {
    background: linear-gradient(352.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  99% {
    background: linear-gradient(356.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  100% {
    background: linear-gradient(360deg, #4bb0ff 0%, #ffffff 100%);
  }
}

@keyframes rotateGradientBot {
  0% {
    background: linear-gradient(360deg, #4bb0ff 0%, #ffffff 100%);
  }
  1% {
    background: linear-gradient(356.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  2% {
    background: linear-gradient(352.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  3% {
    background: linear-gradient(349.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  4% {
    background: linear-gradient(345.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  5% {
    background: linear-gradient(342deg, #4bb0ff 0%, #ffffff 100%);
  }
  6% {
    background: linear-gradient(338.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  7% {
    background: linear-gradient(334.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  8% {
    background: linear-gradient(331.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  9% {
    background: linear-gradient(327.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  10% {
    background: linear-gradient(324deg, #4bb0ff 0%, #ffffff 100%);
  }
  11% {
    background: linear-gradient(320.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  12% {
    background: linear-gradient(316.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  13% {
    background: linear-gradient(313.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  14% {
    background: linear-gradient(309.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  15% {
    background: linear-gradient(306deg, #4bb0ff 0%, #ffffff 100%);
  }
  16% {
    background: linear-gradient(302.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  17% {
    background: linear-gradient(298.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  18% {
    background: linear-gradient(295.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  19% {
    background: linear-gradient(291.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  20% {
    background: linear-gradient(288deg, #4bb0ff 0%, #ffffff 100%);
  }
  21% {
    background: linear-gradient(284.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  22% {
    background: linear-gradient(280.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  23% {
    background: linear-gradient(277.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  24% {
    background: linear-gradient(273.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  25% {
    background: linear-gradient(270deg, #4bb0ff 0%, #ffffff 100%);
  }
  26% {
    background: linear-gradient(266.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  27% {
    background: linear-gradient(262.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  28% {
    background: linear-gradient(259.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  29% {
    background: linear-gradient(255.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  30% {
    background: linear-gradient(252deg, #4bb0ff 0%, #ffffff 100%);
  }
  31% {
    background: linear-gradient(248.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  32% {
    background: linear-gradient(244.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  33% {
    background: linear-gradient(241.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  34% {
    background: linear-gradient(237.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  35% {
    background: linear-gradient(234deg, #4bb0ff 0%, #ffffff 100%);
  }
  36% {
    background: linear-gradient(230.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  37% {
    background: linear-gradient(226.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  38% {
    background: linear-gradient(223.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  39% {
    background: linear-gradient(219.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  40% {
    background: linear-gradient(216deg, #4bb0ff 0%, #ffffff 100%);
  }
  41% {
    background: linear-gradient(212.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  42% {
    background: linear-gradient(208.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  43% {
    background: linear-gradient(205.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  44% {
    background: linear-gradient(201.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  45% {
    background: linear-gradient(198deg, #4bb0ff 0%, #ffffff 100%);
  }
  46% {
    background: linear-gradient(194.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  47% {
    background: linear-gradient(190.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  48% {
    background: linear-gradient(187.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  49% {
    background: linear-gradient(183.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  50% {
    background: linear-gradient(180deg, #4bb0ff 0%, #ffffff 100%);
  }
  51% {
    background: linear-gradient(176.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  52% {
    background: linear-gradient(172.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  53% {
    background: linear-gradient(169.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  54% {
    background: linear-gradient(165.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  55% {
    background: linear-gradient(162deg, #4bb0ff 0%, #ffffff 100%);
  }
  56% {
    background: linear-gradient(158.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  57% {
    background: linear-gradient(154.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  58% {
    background: linear-gradient(151.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  59% {
    background: linear-gradient(147.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  60% {
    background: linear-gradient(144deg, #4bb0ff 0%, #ffffff 100%);
  }
  61% {
    background: linear-gradient(140.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  62% {
    background: linear-gradient(136.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  63% {
    background: linear-gradient(133.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  64% {
    background: linear-gradient(129.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  65% {
    background: linear-gradient(126deg, #4bb0ff 0%, #ffffff 100%);
  }
  66% {
    background: linear-gradient(122.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  67% {
    background: linear-gradient(118.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  68% {
    background: linear-gradient(115.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  69% {
    background: linear-gradient(111.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  70% {
    background: linear-gradient(108deg, #4bb0ff 0%, #ffffff 100%);
  }
  71% {
    background: linear-gradient(104.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  72% {
    background: linear-gradient(100.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  73% {
    background: linear-gradient(97.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  74% {
    background: linear-gradient(93.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  75% {
    background: linear-gradient(90deg, #4bb0ff 0%, #ffffff 100%);
  }
  76% {
    background: linear-gradient(86.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  77% {
    background: linear-gradient(82.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  78% {
    background: linear-gradient(79.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  79% {
    background: linear-gradient(75.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  80% {
    background: linear-gradient(72deg, #4bb0ff 0%, #ffffff 100%);
  }
  81% {
    background: linear-gradient(68.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  82% {
    background: linear-gradient(64.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  83% {
    background: linear-gradient(61.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  84% {
    background: linear-gradient(57.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  85% {
    background: linear-gradient(54deg, #4bb0ff 0%, #ffffff 100%);
  }
  86% {
    background: linear-gradient(50.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  87% {
    background: linear-gradient(46.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  88% {
    background: linear-gradient(43.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  89% {
    background: linear-gradient(39.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  90% {
    background: linear-gradient(36deg, #4bb0ff 0%, #ffffff 100%);
  }
  91% {
    background: linear-gradient(32.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  92% {
    background: linear-gradient(28.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  93% {
    background: linear-gradient(25.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  94% {
    background: linear-gradient(21.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  95% {
    background: linear-gradient(18deg, #4bb0ff 0%, #ffffff 100%);
  }
  96% {
    background: linear-gradient(14.4deg, #4bb0ff 0%, #ffffff 100%);
  }
  97% {
    background: linear-gradient(10.8deg, #4bb0ff 0%, #ffffff 100%);
  }
  98% {
    background: linear-gradient(7.2deg, #4bb0ff 0%, #ffffff 100%);
  }
  99% {
    background: linear-gradient(3.6deg, #4bb0ff 0%, #ffffff 100%);
  }
  100% {
    background: linear-gradient(0deg, #4bb0ff 0%, #ffffff 100%);
  }
}

.inner-content {
  background: white;
  border-radius: 15px; /* nhỏ hơn hoặc bằng lớp ngoài để khớp */
  /* padding: 16px; */
}
.bg-footer {
  background: linear-gradient(
    142deg,
    #e9ffff 29.61%,
    #f2fffb 41.09%,
    #fff 72.93%
  );
}
.bg-banner {
  background: linear-gradient(
    142deg,
    #fff 30.16%,
    #dafff4 65.05%,
    #d6ffff 73.48%
  );
}
.bg-core {
  background: linear-gradient(
    257deg,
    #f7fffd 53.86%,
    #e3fff7 75.84%,
    #e9ffff 92%
  );
}
.bg-infra {
  background: linear-gradient(
    257deg,
    #d6ffff 7.91%,
    #dafff4 24.07%,
    #f7fffd 56.83%
  );
}
.bg-mission {
  background: linear-gradient(
    257deg,
    #e5ffff 7.91%,
    #dafff4 24.07%,
    #f7fffd 46.05%
  );
}
ul.custom-list {
  list-style-type: disc;
  padding-left: 1.5rem;
  list-style: disc !important;
}
.bg-mobile-banner {
  background: linear-gradient(
    169deg,
    #fff 73.3%,
    #dafff4 86.64%,
    #d6ffff 89.86%
  );
}
.mobile-polygon {
  clip-path: polygon(100% 0, 100% 93%, 72% 100%, 0 92%, 0 0);
}
.bg-mobile-mission {
  background: linear-gradient(
    257deg,
    #e5ffff 7.91%,
    #dafff4 24.07%,
    #f7fffd 46.05%
  );
}
.text-gradient {
  background: linear-gradient(90deg, #181818 0%, #414141 30.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient-vision {
  background: linear-gradient(90deg, #181818 0%, #7e7e7e 30.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
